* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-width: 450px;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: lightgoldenrodyellow;
}

header h1 {
    display: inline-block;
    font-size: 30px;
    width: auto;
}

header h1 .portfolio {
    color: goldenrod;
}

.navbar {
    display: flex;
    justify-content: start;
    background-color: rgb(84, 79, 79);
    padding: 20px;
    font-size: 20px;
    border-top: 5px solid lightblue;
    text-align: center;
}

nav a {
    color: lightgoldenrodyellow;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: lightgoldenrodyellow;
    background-color: black;
}

.about-me {
    display: flex;
    height: auto;
    margin-top: 5px;
    border: 5px solid black;
    background-color: lightgray;
}

.about-me-title {
    border: 1px black solid;
    flex: 1;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #BFD8B8;
}

.about-me-title img {
    height: 150px;
    width: auto;
    flex: 0 0 400px;
}

.about-me-info {
    flex: 7;
    margin: 10px;
    padding: 20px 10px;
    border: 1px black solid;
    background-color: #BFD8B8;
    color: darkgreen;
    align-items: center;
    height: auto;
}

.work {
    display: flex;
    height: auto;
    margin-top: 5px;
    border: 5px solid black;
    background-color: lightgray;
}

.work-title {
    border: 1px black solid;
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #E7EAB5;
}

.work-examples {
    flex: 7;
    margin: 10px;
    padding: 20px 10px;
    border: 1px black solid;
    background-color: #E7EAB5;
    color: darkgreen;
    align-items: center;
    height: fit-content;
}

.work-title h1 {
    text-align: right;
}

.work-examples p {
    text-align: left;
}

.surf-report {
    height: 300px;
    border: 1px black solid;
    margin: 10px;
    padding: 20px 10px;
    background-image: url("../img/surfing.jpg");
}

.other-projects-row1 {
    display: flex;
    height: fit-content;
    border: 1px black solid;
    margin: 10px;
    padding: 10px 10px;
}

.row1-proj1 {
    flex: 1;
    height: 150px;
    border: 1px black solid;
    margin: 10px;
    padding: 20px 10px;
    background-image: url("../img/LEDWave.jpg");
}

.row1-proj2 {
    flex: 1;
    height: 150px;
    border: 1px black solid;
    margin: 10px;
    padding: 20px 10px;
    background-image: url("../img/calculator.jpg");
}

.other-projects-row2 {
    display: flex;
    height: fit-content;
    border: 1px black solid;
    margin: 10px;
    padding: 20px 10px;
}

.row2-proj1 {
    flex: 1;
    height: 150px;
    border: 1px black solid;
    margin: 10px;
    padding: 20px 10px;
    background-image: url("../img/puzzle.jpg");
}

.row2-proj2 {
    flex: 1;
    height: 150px;
    border: 1px black solid;
    margin: 10px;
    padding: 20px 10px;
    background-image: url("../img/buddies.jpg");
}

.contact-me {
    display: flex;
    height: auto;
    margin-top: 5px;
    border: 5px solid black;
    background-color: lightgray;
}

.contact-me-title {
    border: 1px black solid;
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #F1F7E7;
}

.contact-me-title h1 {
    text-align: right;
    padding: auto;
}

.contact-details {
    flex: 7;
    display: flex;
    margin: 10px;
    padding: 20px 10px;
    border: 1px black solid;
    background-color: #F1F7E7;
    color: darkgreen;
    align-items: center;
    height: auto;
}

.contact-info {
    display: flex;
    height: auto;
    border: 1px black solid;
    margin: 10px;
    padding: 10px 10px;
}

.contact-box {
    flex: 1;
    border: 1px black solid;
    margin: 10px;
    padding: 20px 10px;
    text-align: center;
    font-size: 20px;
    background-color: E2C2B9;
}



footer {
    text-align: center;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: lightgoldenrodyellow;

}

@media (max-width: 750px) {

    .row,
    .navbar {
        flex-direction: column;
    }

    .about-me {
        flex-direction: column;
        padding: 10px;
        margin: 5px;
    }

    .about-me-title {
        text-align: center;
        padding: 10px;
        margin: 5px;
    }

    .work-title h1 {
        text-align: center;
        padding: 10px;
        margin: 5px;
    }

    .contact-details {
        flex-direction: column;
        text-align: center;
        padding: 10px;
        margin: 5px;
    }

    .contact-me-title h1{
        text-align: center;
        padding: 10px;
        margin: 5px;
    }

    .contact-box {
        width: 100%;
    }

    header {
        text-align: center;
        padding: 10px;
        margin: 5px;
    }
}